*.tmp
tmp/**
bin/**
target/**
*.war
*.class
*.pydevproject
.project
.metadata
.classpath
.settings/
.loadpath
local.properties

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.history

.idea/*